  @import "_variables";

  
  .footer{
    background-color: $verde-menta;
    height: 30px; 

    .icon{
      background-color:$verde-menta;
      text-align: center;
    }
    

    .pfooter{
      background-color: $verde-menta;
      color: #fff;
      text-align: center;
    }
 }
 


